<footer>
 <div class="footer-wrap">

  <div class="footer-address">
   <address>
     <strong>Howard County Public School&nbsp;System</strong><br>
     10910 Clarksville Pike<br>
     Ellicott City, MD 21042<br>
     Main Phone: (410) 313-6600<br>
   </address>
   <p><a href="https://directory.hcpss.org/">Staff Directory</a> | <a href="/inclusivity/">Inclusivity &amp; Accessibility</a></p>
  </div>

  <div class="">
   <ul class="footer-social-icons">

    <li class="foot-social foot-social-tw">
     <a aria-label="Twitter" href="https://twitter.com/hcpss/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>

    <li class="foot-social foot-social-fb">
     <a aria-label="Facebook" href="https://www.facebook.com/hocoschools/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>

    <li class="foot-social foot-social-ig">
     <a aria-label="Instagram" href="https://instagram.com/hocoschools/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>

    <li class="foot-social foot-social-vm">
     <a aria-label="Vimeo" href="https://vimeo.com/hcpss" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
    </li>

    <li class="foot-social foot-social-flickr">
     <a aria-label="Flickr" href="https://www.flickr.com/photos/hcpss" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a>
    </li>

   </ul>
  </div>

 </div>
</footer>