<head>

<link rel="apple-touch-icon" sizes="180x180" href="https://s3.amazonaws.com/hcpss.web.site/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/hcpss.web.site/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/hcpss.web.site/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://s3.amazonaws.com/hcpss.web.site/favicons/manifest.json">
<link rel="mask-icon" href="https://s3.amazonaws.com/hcpss.web.site/favicons/safari-pinned-tab.svg" color="#2762a5">
<meta name="theme-color" content="#ffffff">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<title>DEV</title>

<link rel="stylesheet" type='text/css'
  href="https://s3.amazonaws.com/hcpss.web.site/images/normalize.css">

<link rel="stylesheet" type='text/css'
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/hcpss.web.site/newdesign/2018-11-16a-main.min.css">

<style>
	img {
		max-width:100%;
	}	
</style>
<style>section#home-overview.overview{background-image:url(https://s3.amazonaws.com/hcpss.web.site/newdesign/omhs-art.jpg);}</style>
</head>