<header class="main-navigation">
  <nav>
  <p class="logo-wrapper"><a href="/"><img class="hcpss-logo" src="https://www.hcpss.org/f/mrb/blue-flame.png" alt=""> HCPSS</a></p>
  <button class="btn__main-toggle" aria-expanded="false" aria-controls="main-menu-list"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Main Menu</button>
  <ul id="main-menu-list" class="primary-menu">
   <li><a href="/languages/"><i class="fa fa-globe" aria-hidden="true"></i> Languages <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    <ul hidden="">
     <li><a href="/es/" lang="es">Español</a></li>
     <li><a href="/zh/" lang="zh">中文</a></li>
     <li><a href="/ko/" lang="ko">한국어</a></li>
     <li><a href="/cnh/" lang="cnh">Chin</a></li>
    </ul>
   </li>
   <li><a href="/for-you/">For You <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    <ul hidden="">
     <li><a href="/for-you/parents/">Parents</a></li>
     <li><a href="/for-you/students/">Students</a></li>
     <li><a href="/for-you/staff/">Staff &amp; Retirees</a></li>
    </ul>
   </li>
   <li><a href="/about/">About</a></li>
   <li><a href="/schools/">Schools</a></li>
   <li><a href="/academics/">Academics</a></li>
   <li><a href="/supports/">Supports</a></li>
   <li><a href="https://news.hcpss.org/">News</a></li>
   <li><a href="/search/"><i class="fa fa-search" aria-hidden="true"></i> <span class="visually-hidden">Search</span></a></li>
 </ul>
  </nav>
</header>